parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - src/Repository/
    ignoreErrors:
        - '#class.nameCase#'
        - '#class.notFound#'
        - '#method.notFound#'
        - '#method.unused#'
        - '#instanceof.alwaysTrue#'
